:root {
  --sjs-general-backcolor: rgba(255, 255, 255, 1);
  --sjs-general-backcolor-dark: rgba(255, 216, 77, 1);
  --sjs-general-backcolor-dim: rgba(255, 255, 255, 1);
  --sjs-general-backcolor-dim-light: rgba(255, 216, 77, 1);
  --sjs-general-backcolor-dim-dark: rgba(255, 216, 77, 1);
  --sjs-general-forecolor: rgba(0, 0, 0, 1);
  --sjs-general-forecolor-light: rgba(0, 0, 0, 0.449);
  --sjs-general-dim-forecolor: rgba(0, 0, 0, 1);
  --sjs-general-dim-forecolor-light: rgba(0, 0, 0, 1);
  --sjs-primary-backcolor: rgba(0, 0, 0, 1);
  --sjs-primary-backcolor-light: rgba(255, 216, 77, 1);
  --sjs-primary-backcolor-dark: rgba(83, 83, 83, 1);
  --sjs-primary-forecolor: rgb(229 231 228);
  --sjs-primary-forecolor-light: rgba(255, 255, 255, 0.25);
  --sjs-base-unit: 8px;
  --sjs-corner-radius: 8px;
  --sjs-secondary-backcolor: rgba(255, 152, 20, 1);
  --sjs-secondary-backcolor-light: rgba(255, 152, 20, 0.1);
  --sjs-secondary-backcolor-semi-light: rgba(255, 152, 20, 0.25);
  --sjs-secondary-forecolor: rgba(255, 255, 255, 1);
  --sjs-secondary-forecolor-light: rgba(255, 255, 255, 0.25);
  --sjs-shadow-small: 0px 2px 0px 0px rgba(0, 0, 0, 1);
  --sjs-shadow-small-reset: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  --sjs-shadow-medium: 0px 4px 0px 0px rgba(0, 0, 0, 1);
  --sjs-shadow-large: 0px 6px 0px 0px rgba(0, 0, 0, 1);
  --sjs-shadow-inner: 0px 0px 0px 2px rgba(0, 0, 0, 1), 0px -4px 0px 2px rgba(0, 0, 0, 1);
  --sjs-shadow-inner-reset: 0px 0px 0px 0px rgba(0, 0, 0, 1), 0px 0px 0px 0px rgba(0, 0, 0, 1);
  --sjs-border-light: rgba(0, 0, 0, 0.2);
  --sjs-border-default: rgba(0, 0, 0, 1);
  --sjs-border-inside: rgba(0, 0, 0, 0.16);
  --sjs-special-red: rgba(229, 10, 62, 1);
  --sjs-special-red-light: rgba(229, 10, 62, 0.1);
  --sjs-special-red-forecolor: rgba(255, 255, 255, 1);
  --sjs-special-green: rgba(25, 179, 148, 1);
  --sjs-special-green-light: rgba(25, 179, 148, 0.1);
  --sjs-special-green-forecolor: rgba(255, 255, 255, 1);
  --sjs-special-blue: rgba(67, 127, 217, 1);
  --sjs-special-blue-light: rgba(67, 127, 217, 0.1);
  --sjs-special-blue-forecolor: rgba(255, 255, 255, 1);
  --sjs-special-yellow: rgba(255, 152, 20, 1);
  --sjs-special-yellow-light: rgba(255, 152, 20, 0.1);
  --sjs-special-yellow-forecolor: rgba(255, 255, 255, 1);
  --sjs-article-font-xx-large-textDecoration: none;
  --sjs-article-font-xx-large-fontWeight: 700;
  --sjs-article-font-xx-large-fontStyle: normal;
  --sjs-article-font-xx-large-fontStretch: normal;
  --sjs-article-font-xx-large-letterSpacing: 0;
  --sjs-article-font-xx-large-paragraphIndent: 0px;
  --sjs-article-font-xx-large-textCase: none;
  --sjs-article-font-x-large-textDecoration: none;
  --sjs-article-font-x-large-fontWeight: 700;
  --sjs-article-font-x-large-fontStyle: normal;
  --sjs-article-font-x-large-fontStretch: normal;
  --sjs-article-font-x-large-letterSpacing: 0;
  --sjs-article-font-x-large-lineHeight: 56px;
  --sjs-article-font-x-large-paragraphIndent: 0px;
  --sjs-article-font-x-large-textCase: none;
  --sjs-article-font-large-textDecoration: none;
  --sjs-article-font-large-fontWeight: 700;
  --sjs-article-font-large-fontStyle: normal;
  --sjs-article-font-large-fontStretch: normal;
  --sjs-article-font-large-letterSpacing: 0;
  --sjs-article-font-large-lineHeight: 40px;
  --sjs-article-font-large-paragraphIndent: 0px;
  --sjs-article-font-large-textCase: none;
  --sjs-article-font-medium-textDecoration: none;
  --sjs-article-font-medium-fontWeight: 700;
  --sjs-article-font-medium-fontStyle: normal;
  --sjs-article-font-medium-fontStretch: normal;
  --sjs-article-font-medium-letterSpacing: 0;
  --sjs-article-font-medium-lineHeight: 32px;
  --sjs-article-font-medium-paragraphIndent: 0px;
  --sjs-article-font-medium-textCase: none;
  --sjs-article-font-default-textDecoration: none;
  --sjs-article-font-default-fontWeight: 400;
  --sjs-article-font-default-fontStyle: normal;
  --sjs-article-font-default-fontStretch: normal;
  --sjs-article-font-default-letterSpacing: 0;
  --sjs-article-font-default-lineHeight: 28px;
  --sjs-article-font-default-paragraphIndent: 0px;
  --sjs-article-font-default-textCase: none;
}

/*for debugging TBR*/
* {
  /* outline: 1px solid red;
  background-color: rgba(255, 0, 0, 0.05); */
}

[dir=ltr] {
    --icon-direction: 1;
}

[dir=rtl] {
    --icon-direction: -1;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 81vh;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--sjs-general-backcolor);
  font-family: "Noto Naskh Arabic","Inter", Roboto, serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: var(--sjs-article-font-default-fontWeight);
  margin: 0;
  color: var(--sjs-general-forecolor-light);
}

strong {
  font-weight: 700;
  color: var(--sjs-general-forecolor);
}

hr {
  border-color: var(--sjs-border-default);
  margin: 20px 0px;
  width: 5%;
  border-width: 2px;
}

button,
input,
select,
textarea,
.sd-selectbase__label {
  border-radius: var(--sjs-corner-radius);
}

.ads-button {
  background-color: var(--sjs-general-backcolor-dark) !important;
}

button,
.sd-selectbase__label {
  color: var(--sjs-primary-backcolor) !important;
  background-color: var(--sjs-primary-forecolor) !important;
  border: 2px solid var(--sjs-primary-backcolor) !important;
  padding: 0.8rem;
  margin: 0.25rem 0;
  display: inline-block;
  border-radius: var(--sjs-editorpanel-cornerRadius, var(--sjs-corner-radius, 4px));
  text-align: start;
  cursor: pointer;
  transition: box-shadow var(--sjs-transition-duration, 150ms);
  font-size: 1.1rem;
  box-shadow: var(--sjs-shadow-medium) !important;
}

button:hover,
.sd-selectbase__label:hover {
  background-color: var(--sjs-primary-backcolor-light) !important;
  transition: 0.25s !important;
  box-shadow: var(--sjs-shadow-large) !important;
  transform: translateY(-3px);
}

.active {
  background-color: var(--sjs-primary-backcolor-light) !important;
  transition: 0.25s !important;
  box-shadow: var(--sjs-shadow-large) !important;
  transform: translateY(-3px);
}

button:active,
.sd-selectbase__label:active {
  background-color: var(--sjs-primary-backcolor-dark);
  transition: 0.25s !important;
  transform: translateY(0px);
  box-shadow: var(--sjs-shadow-small-reset) !important;
}

button::selection {
  background-color: var(--sjs-primary-backcolor);
  color: var(--sjs-primary-forecolor);
}

input,
select,
textarea {
  background-color: var(--sjs-general-backcolor-dark);
  color: var(--sjs-general-forecolor);
  border: 2px solid var(--sjs-border-default) !important;
  padding: 0.9rem;
  margin: 0.5rem 0;
  display: block;
  width: -webkit-fill-available;
  border: none;
  border-radius: var(--sjs-editorpanel-cornerRadius, var(--sjs-corner-radius, 4px));
  text-align: start;
  transition: box-shadow var(--sjs-transition-duration, 150ms);
  font-size: 1.1rem;
}
textarea {
  box-shadow: var(--sjs-shadow-inner, inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15)), 0 0 0 0px var(--sjs-primary-backcolor, var(--primary, #19b394));
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--sjs-primary-backcolor);
  box-shadow: var(--sjs-shadow-inner);
}

header,
footer {
  color: var(--sjs-general-forecolor);
}

.ads-title {
  font-family: "Oswald", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--sjs-general-forecolor);
  font-family: "Cairo Play","Gabarito", ReithSans, Helvetica, Roboto, sans-serif;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.3;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
}

a {
  color: var(--sjs-primary-backcolor);
  text-decoration-color: var(--sjs-primary-forecolor);
}

a:hover {
  color: var(--sjs-primary-forecolor-dark);
}

a:active {
  color: var(--sjs-primary-backcolor-dark);
}

::selection {
  background-color: var(--sjs-general-backcolor-dark);
  color: var(--sjs-general-forecolor);
}

ul,
ol {
  padding: 0;
  margin: 0 0 1em 2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  padding: 0.5rem 0;
  position: relative;
  margin-left: 1em;
}

ul li {
  padding-left: 1.5em;
}

ol li {
  padding-left: 1em;
}

ul li::before {
  /* content: '•'; */
  font-size: 1.2em;
  color: var(--sjs-primary-backcolor-dark);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
  /* color: var(--sjs-general-forecolor-light); */
  border: 2px solid var(--sjs-border-default);
  border: none;
  border-radius: var(--sjs-editorpanel-cornerRadius, var(--sjs-corner-radius, 4px));
  text-align: start;
}

th,
td {
  padding: 0.7rem;
  border-bottom: 1px solid var(--sjs-border-light);
}
td {
  font-size: 1rem;
}

th {
  color: var(--sjs-general-forecolor);
  /* font-size: 1.1rem; */
  text-align: start;
}

tr:nth-child(even) {
  background-color: var(--sjs-general-backcolor-dim);
}

/* tr:hover {
  background-color: var(--sjs-primary-forecolor);
}

tr:active {
  background-color: var(--sjs-general-backcolor-dim-dark);
} */

nav {
  /* background-color: var(--sjs-general-backcolor-dim); */
  color: var(--sjs-general-forecolor);
  /* padding: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: var(--sjs-general-forecolor);
  text-underline-offset: 0.7rem;
}

nav a:hover {
  color: var(--sjs-primary-backcolor);

  transition: 0.5s;
}

nav a:active {
  color: var(--sjs-primary-backcolor-dark);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0.5rem;
}

ol {
  list-style-type: decimal;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  /* padding: 1rem; */
}

nav ul li a {
  color: var(--sjs-general-forecolor);
}

nav ul li a:hover {
  color: var(--sjs-primary-backcolor);
}

nav ul li a:active {
  color: var(--sjs-primary-backcolor-dark);
}

article i {
  color: var(--sjs-primary-backcolor);
  transition: 0.5s;
  padding: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--sjs-border-light);
  background-color: var(--sjs-primary-backcolor-light);
  transition: 0.5s;
  box-shadow: var(--sjs-shadow-large);
}

i:hover {
}

nav i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  padding: 0.8rem;
}

nav :first-of-type li {
  font-size: 1.2rem;
  margin-right: 1rem;
  /* padding: 1rem; */
  font-weight: lighter;
}

nav :first-of-type li a {
  color: var(--sjs-general-forecolor);
  text-decoration: none !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
}

.grid > * {
  flex: 1 1 calc(33.33% - 20px); /* Make each item take 1/3 of the container width minus the gap */
  /* min-width: 370px; Maintain minimum width similar to the grid layout */
  box-sizing: border-box; /* Ensure padding and gap don't affect the width calculation */
  margin-left: auto;
  margin-right: auto;
}

.grid3 {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.grid3 > :first-child {
  flex: 1 1 33.33%; /* Make the first child take 1/3 of the container width */
  box-sizing: border-box;
}

.grid3 > :last-child {
  flex: 1 1 66.67%; /* Make the second child take 2/3 of the container width */
  box-sizing: border-box;
}

.header {
  margin: 40px 0;
  padding: 10px;
  text-align: center;
}

.section {
  margin: 60px 0;
  padding: 10px;
}

.tips {
  /* background-color:  var(--sjs-primary-forecolor);   */
  padding: 20px;
  margin: 20px 0;
  border-left: 10px solid var(--sjs-general-backcolor-dark);
  border-radius: var(--sjs-corner-radius);
  /* box-shadow: var( --sjs-shadow-large); */
  /* margin-left: 80px */
}

.blog-entry {
  display: flex;
  margin: 40px 0;
}
.blog-entry img {
  width: 250px;
  height: 250px;
  margin-right: 40px;
}
.blog-entry-content {
  flex: 1;
}
.blog-entry-meta {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 10px;
}

.blog-post img {
  width: 40%;
  height: auto;
  margin-bottom: 20px;
}

.cat-img {
  /* filter: saturate(100%); */
  /* opacity: 0.5; */

  /* transition: all 0.3s ease-in-out; */
}
.cat-img:hover {
  /* filter: grayscale(0%) blur(0px); */
  /* opacity: 1; */
  /* move up 10 px and scale up 120% */
  /* transform: translateY(-10px) scale(1.1); */
}

.toc {
  flex: 1;
}

.content-wrapper {
  display: flex;
  gap: 40px;
}

#searchInput {
  box-shadow: var(--sjs-shadow-inner);
 
}
#searchInput:focus {
  z-index: 9999;
  border-radius: var(--sjs-corner-radius) var(--sjs-corner-radius) 0 0;
}

.search-bar {
  width: 50%;
  max-width: fit-content;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

#searchResults {
  width: 94%;
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  background-color: var(--sjs-general-backcolor);
  text-align: start;
  border-bottom: 1px solid var(--sjs-border-light);
  max-height: 320px;
  border-left: 1px solid var(--sjs-border-light);
  border-right: 1px solid var(--sjs-border-light);
  /* margin-top: -35px; */
  border-radius: 0 0 var(--sjs-corner-radius) var(--sjs-corner-radius);
  overflow: scroll;
  scroll-behavior: smooth;
  animation: slideFromTop 0.5s ease-out forwards;
  font-size: 0.9rem;
  text-decoration: none !important;
  position: absolute;
  top: 380px;
  left:18px;
  z-index: 999;
  ;

}

.search-result {
  padding: 5px 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}

.search-result:first-child {
  padding-top: 20px;
}

.shadow-small {
  box-shadow: var(--sjs-shadow-small);
}

.shadow-medium {
  box-shadow: var(--sjs-shadow-medium);
}

.shadow-large {
  box-shadow: var(--sjs-shadow-large);
}

.shadow-inner {
  box-shadow: var(--sjs-shadow-inner);
}

.border-light {
  border-color: var(--sjs-border-light);
}

.border-default {
  border-color: var(--sjs-border-default);
}

.border-inside {
  border-color: var(--sjs-border-inside);
}

.special-red {
  color: var(--sjs-special-red-forecolor);
  background-color: var(--sjs-special-red);
}

.special-green {
  color: var(--sjs-special-green-forecolor);
  background-color: var(--sjs-special-green);
}

.special-blue {
  color: var(--sjs-special-blue-forecolor);
  background-color: var(--sjs-special-blue);
}

.special-yellow {
  color: var(--sjs-special-yellow-forecolor);
  background-color: var(--sjs-special-yellow);
}

.article-font-xx-large {
  text-decoration: var(--sjs-article-font-xx-large-textDecoration);
  font-weight: var(--sjs-article-font-xx-large-fontWeight);
  font-style: var(--sjs-article-font-xx-large-fontStyle);
  font-stretch: var(--sjs-article-font-xx-large-fontStretch);
  letter-spacing: var(--sjs-article-font-xx-large-letterSpacing);
  line-height: var(--sjs-article-font-xx-large-lineHeight);
  text-transform: var(--sjs-article-font-xx-large-textCase);
}

.article-font-x-large {
  text-decoration: var(--sjs-article-font-x-large-textDecoration);
  font-weight: var(--sjs-article-font-x-large-fontWeight);
  font-style: var(--sjs-article-font-x-large-fontStyle);
  font-stretch: var(--sjs-article-font-x-large-fontStretch);
  letter-spacing: var(--sjs-article-font-x-large-letterSpacing);
  line-height: var(--sjs-article-font-x-large-lineHeight);
  text-transform: var(--sjs-article-font-x-large-textCase);
}

.article-font-large {
  text-decoration: var(--sjs-article-font-large-textDecoration);
  font-weight: var(--sjs-article-font-large-fontWeight);
  font-style: var(--sjs-article-font-large-fontStyle);
  font-stretch: var(--sjs-article-font-large-fontStretch);
  letter-spacing: var(--sjs-article-font-large-letterSpacing);
  line-height: var(--sjs-article-font-large-lineHeight);
  text-transform: var(--sjs-article-font-large-textCase);
}

.article-font-medium {
  text-decoration: var(--sjs-article-font-medium-textDecoration);
  font-weight: var(--sjs-article-font-medium-fontWeight);
  font-style: var(--sjs-article-font-medium-fontStyle);
  font-stretch: var(--sjs-article-font-medium-fontStretch);
  letter-spacing: var(--sjs-article-font-medium-letterSpacing);
  line-height: var(--sjs-article-font-medium-lineHeight);
  text-transform: var(--sjs-article-font-medium-textCase);
}

.article-font-default {
  text-decoration: var(--sjs-article-font-default-textDecoration);
  font-weight: var(--sjs-article-font-default-fontWeight);
  font-style: var(--sjs-article-font-default-fontStyle);
  font-stretch: var(--sjs-article-font-default-fontStretch);
  letter-spacing: var(--sjs-article-font-default-letterSpacing);
  line-height: var(--sjs-article-font-default-lineHeight);
  text-transform: var(--sjs-article-font-default-textCase);
}

.sd-element--with-frame.sd-question--title-top {
  box-shadow: none;
  padding-left: 0px;
}

.sd-root-modern .sd-container-modern__title,
.sd-completedpage:before,
.sd-completedpage:after,
.sd-navigation__prev-btn {
  display: none;
}

.sd-root-modern,
.sd-element--with-frame {
  background-color: transparent;
}

.sd-element__title .sv-string-viewer.sv-string-viewer--multiline {
  font-family: "Gabarito", ReithSans, Helvetica, Roboto, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
}

.sd-body__navigation .sd-btn {
  padding: 12px 24px !important;
}

.sd-input {
  font-size: 1.05rem;
}

/* Hide the default radio button */
.sd-radio__control {
  display: none;
}

/* Show the checkmark when the radio button is checked */
.sd-radio__control:checked + .sd-item__decorator + .sd-item__control-label::after,
.sd-radio__control:checked + .sd-item__control-label::after {
  display: block;
}

/* Center the label text */
.sd-item__control-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sd-radio__decorator {
  display: none;
}

.sd-selectbase__label {
  margin: 0.3rem;
  display: flex;
}

.sd-item__control-label {
  font-size: 1.1rem;
}

.sd-dropdown--empty div {
  min-height: calc(1.8 * (var(--sjs-internal-font-editorfont-size)));
}

/*--------*/

/* Basic Reset */

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 75vh;
}

.survey-box {
  flex: 1;
}

.survey-box h2 {
  margin-bottom: 20px;
}

.survey-box label {
  display: block;
  margin-bottom: 5px;
}

.survey-box input,
.survey-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.survey-box button {
  width: auto;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.survey-box button:hover {
  background: #0056b3;
}

.product-image {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  margin: 10px;
  text-align: center;
}

.product-image img {
  max-width: 100%;
}

.sd-timer {
  background: var(--sjs-general-backcolor-dark);
}

/* Media Queries */
@media (max-width: 768px) {
  
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.3;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }
  .hero img {
    width: 35%;
    float: left;
    margin-left: 10px;
    margin-bottom: -10px;
    /* border-bottom: 1px solid #828282; */
  }
  .blog-entry {
    display: flex;
    flex-direction: column;
  }
  .blog-entry img {
    width: 35%;
    height: auto;
    margin-right: 0;
  }

  .blog-post img {
    width: 100%;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .hero {
    height: auto;
    /* flex-direction: row; */
    padding: 0px;
  }

  .survey-box {
    min-width: 300px;
    max-width: 600px;
  }

  .sd-body.sd-body--static .sd-body__navigation {
    margin-top: -1.1rem;
  }

  .sd-element__title .sv-string-viewer.sv-string-viewer--multiline {
    line-height: 1.2em;
    font-size: 2.5rem;
  }

  .screen {
    display: none;
  }

  .blob {
    top: -60px !important;
  }

  .search-bar {
    width: 88%;
  }

  #searchResults{
    width: 89%;
    top:360px;
  }

  #decoration{
    display: none;
  }
}

/* ads animation */

@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.hidden-element {
  opacity: 0;
}

.slide-from-bottom {
  animation: slideFromBottom 0.5s ease-out forwards;
}

.slide-from-left {
  animation: slideFromLeft 0.5s ease-out forwards;
}

.slide-from-top {
  animation: slideFromTop 0.5s ease-out forwards;
}

.slide-from-right {
  animation: slideFromRight 0.5s ease-out forwards;
}

.zoom-in {
  animation: zoomIn 0.5s ease-out forwards;
}

.ad-container {
  position: relative; /* Ensure proper stacking context */
  overflow: hidden;
  background-color: var(--sjs-general-backcolor);
}

.path-one,
.path-two {
  position: absolute;
  bottom: 0;
  z-index: 1; /* Ensure SVG paths are behind other elements */
  fill: var(--sjs-general-backcolor-dark);
}

.blob {
  position: absolute;
  fill: var(--sjs-general-backcolor-dark);
  z-index: -1;
  top: -150px;
}

.footer-wave {
  position: absolute;
  fill: var(--sjs-general-backcolor-dark);
  z-index: -1;
  stroke: var(--sjs-general-forecolor);
  stroke-width: 3px;
}

.hidden-element {
  opacity: 0;
  z-index: 1; /* Ensure hidden elements have lower z-index */
}

.logo-icon {
  z-index: 4; /* Ensure logo icon is above all other elements */
}

.image {
  z-index: 99999; /* Ensure image is above SVG paths but below logo icon */
}

.headline,
.text,
.tags,
.cta {
  z-index: 3; /* Ensure text elements are above SVG paths but below logo icon */
}

.slide-from-bottom,
.slide-from-left,
.slide-from-top,
.slide-from-right,
.zoom-in {
  z-index: 4; /* Ensure animation elements appear above everything else */
  position: relative;
}

.highlight {
  color: red;
  font-weight: bold;
}
